body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  header, footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  header > div {
    height: 50px;
  }
  
  .titre {
    color: rgb(13, 229, 81);
    font-size: 2rem;
    margin: 10px 0;
    border-bottom: 2px dashed #333;
    padding-bottom: 10px;
  }
  
  .habitation {
    color: #ff69b4;
  }
  
  .topbox {
    display: flex;
    align-items: center;
    padding: 30px;
  }
  
  .icone,
  .maphoto {
    max-width: 100px;
    height: auto;
    border-radius: 20%;
    margin-left: 30px;
  }
  
  .topbox .icone:hover,
  .topbox .maphoto:hover {
    transform: scale(1.1);
  }
  
  .sstitre {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  .italic {
    font-style: italic;
  }
  
  .xp {
    padding-left: 50px;
  }
  
  #cv {
    list-style-type: none;
    padding: 0;
  }
  
  #cv .formation,
  #cv .xp {
    margin-bottom: 10px;
  }
  
  #skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  #skills li {
    margin-bottom: 5px;
  }
  
  #chat-add {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 400px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    text-align: left;
  }
  
  #chat-add button {
    padding: 8px 15px;
    background-color: rgb(13, 229, 81);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #chat-add button:hover {
    background-color: #007bff;
  }

  #feedback {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
  }
  
  #feedback p {
    margin: 5px;
  }
  
  #feedback button {
    font-size: 1.5rem;
    margin: 5px;
    cursor: pointer;
  }